<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Botones</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/style.css">
</head>

<body>

    <!-- sin iconos -->

    <div class="contenedor">
        <button class="btn">boton base</button>

        <button class="btn btn-primario">primario</button>
        <button class="btn btn-segundario">segundario</button>

        <button class="btn btn-crear">crear</button>
        <button class="btn btn-eliminar">eliminar</button>
        <button class="btn btn-actualizar">actualizar</button>
        <button class="btn btn-cancelar">cancelar</button>

        <button class="btn btn-mostrar">mostrar</button>
        <button class="btn btn-ordenar">ordenar</button>
        <button class="btn btn-buscar">buscar</button>

        <button class="btn btn-exito">exito</button>
        <button class="btn btn-peligro">peligro</button>
        <button class="btn btn-advertencia">advertencia</button>
        <button class="btn btn-informacion">info</button>

        <button class="btn btn-claro">claro</button>
        <button class="btn btn-oscuro">oscuro</button>
        <button class="btn btn-enlace">link</button>
        <button class="btn btn-cargar">cargar</button>

    </div>

    <!-- iconos -->

    <div class="contenedor">

        <button class="btn"><i class="fa fa-check"></i></button>

        <button class="btn btn-primario"><i class="fas fa-star"></i></button>
        <button class="btn btn-segundario"><i class="fas fa-bars"></i></button>

        <button class="btn btn-crear"><i class="fas fa-plus"></i></button>
        <button class="btn btn-eliminar"><i class="fas fa-trash"></i></button>
        <button class="btn btn-actualizar"><i class="fas fa-sync"></i></button>
        <button class="btn btn-cancelar"><i class="fas fa-times"></i></button>

        <button class="btn btn-mostrar"><i class="fas fa-eye"></i></button>
        <button class="btn btn-ordenar"><i class="fas fa-sort"></i></button>
        <button class="btn btn-buscar"><i class="fas fa-search"></i></button>

        <button class="btn btn-exito"><i class="fas fa-check"></i></button>
        <button class="btn btn-peligro"><i class="fas fa-exclamation-triangle"></i></button>
        <button class="btn btn-advertencia"><i class="fas fa-exclamation"></i></button>
        <button class="btn btn-informacion"><i class="fas fa-info"></i></button>

        <button class="btn btn-claro"><i class="fas fa-sun"></i></button>
        <button class="btn btn-oscuro"><i class="fas fa-moon"></i></button>
        <button class="btn btn-enlace"><i class="fas fa-link"></i></button>
        <button class="btn btn-cargar"><i class="fas fa-spinner"></i></button>
    </div>

    <!-- desactivados -->

    <div class="contenedor">
        <button class="btn" disabled>boton base</button>

        <button class="btn btn-primario" disabled>primario</button>
        <button class="btn btn-segundario" disabled>segundario</button>

        <button class="btn btn-crear" disabled>crear</button>
        <button class="btn btn-eliminar" disabled>eliminar</button>
        <button class="btn btn-actualizar" disabled>actualizar</button>
        <button class="btn btn-cancelar" disabled>cancelar</button>

        <button class="btn btn-mostrar" disabled>mostrar</button>
        <button class="btn btn-ordenar" disabled>ordenar</button>
        <button class="btn btn-buscar" disabled>buscar</button>

        <button class="btn btn-exito" disabled>exito</button>
        <button class="btn btn-peligro" disabled>peligro</button>
        <button class="btn btn-advertencia" disabled>advertencia</button>
        <button class="btn btn-informacion" disabled>info</button>

        <button class="btn btn-claro" disabled>claro</button>
        <button class="btn btn-oscuro" disabled>oscuro</button>
        <button class="btn btn-enlace" disabled>link</button>
        <button class="btn btn-cargar" disabled>cargar</button>

    </div>

    <!-- iconos desactivados -->

    <div class="contenedor">

        <button class="btn" disabled><i class="fa fa-check"></i></button>

        <button class="btn btn-primario" disabled><i class="fas fa-star"></i></button>
        <button class="btn btn-segundario" disabled><i class="fas fa-bars"></i></button>

        <button class="btn btn-crear" disabled><i class="fas fa-plus"></i></button>
        <button class="btn btn-eliminar" disabled><i class="fas fa-trash"></i></button>
        <button class="btn btn-actualizar" disabled><i class="fas fa-sync"></i></button>
        <button class="btn btn-cancelar" disabled><i class="fas fa-times"></i></button>

        <button class="btn btn-mostrar" disabled><i class="fas fa-eye"></i></button>
        <button class="btn btn-ordenar" disabled><i class="fas fa-sort"></i></button>
        <button class="btn btn-buscar" disabled><i class="fas fa-search"></i></button>

        <button class="btn btn-exito" disabled><i class="fas fa-check"></i></button>
        <button class="btn btn-peligro" disabled><i class="fas fa-exclamation-triangle"></i></button>
        <button class="btn btn-advertencia" disabled><i class="fas fa-exclamation"></i></button>
        <button class="btn btn-informacion" disabled><i class="fas fa-info"></i></button>

        <button class="btn btn-claro" disabled><i class="fas fa-sun"></i></button>
        <button class="btn btn-oscuro" disabled><i class="fas fa-moon"></i></button>
        <button class="btn btn-enlace" disabled><i class="fas fa-link"></i></button>
        <button class="btn btn-cargar" disabled><i class="fas fa-spinner"></i></button>
    </div>
</body>

</html>