<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Entradas</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/style.css">
</head>

<body>
    <div class="contenedor">
        <input type="text" name="" id="">
        <input type="number" name="" id="">
        <input type="date" name="" id="">
        <input type="time" name="" id="">
        <input type="email" name="" id="">
        <input type="password" name="" id="">
        <input type="file" name="" id="">
        <input type="checkbox" name="" id="">
        <input type="radio" name="" id="">
        <input type="color" name="" id="">
        <input type="range" name="" id="">
        <input type="tel" name="" id="">
        <input type="url" name="" id="">
        <input type="search" name="" id="">
        <input type="month" name="" id="">
        <input type="week" name="" id="">
        <input type="datetime-local" name="" id="">
        <input type="hidden" name="" id="">
        <select name="" id=""></select>
        <textarea name="" id=""></textarea>
    </div>

    <!-- desactivados -->

    <div class="contenedor">
        <input type="text" name="" id="" disabled>
        <input type="number" name="" id="" disabled>
        <input type="date" name="" id="" disabled>
        <input type="time" name="" id="" disabled>
        <input type="email" name="" id="" disabled>
        <input type="password" name="" id="" disabled>
        <input type="file" name="" id="" disabled>
        <input type="checkbox" name="" id="" disabled>
        <input type="radio" name="" id="" disabled>
        <input type="color" name="" id="" disabled>
        <input type="range" name="" id="" disabled>
        <input type="tel" name="" id="" disabled>
        <input type="url" name="" id="" disabled>
        <input type="search" name="" id="" disabled>
        <input type="month" name="" id="" disabled>
        <input type="week" name="" id="" disabled>
        <input type="datetime-local" name="" id="" disabled>
        <input type="hidden" name="" id="" disabled>
        <select name="" id="" disabled></select>
        <textarea name="" id="" disabled></textarea>
    </div>


    <div class="contenedor">
        <input type="text" name="" id="" readonly>
        <input type="number" name="" id="" readonly>
        <input type="date" name="" id="" readonly>
        <input type="time" name="" id="" readonly>
        <input type="email" name="" id="" readonly>
        <input type="password" name="" id="" readonly>
        <input type="file" name="" id="" readonly>
        <input type="checkbox" name="" id="" readonly>
        <input type="radio" name="" id="" readonly>
        <input type="color" name="" id="" readonly>
        <input type="range" name="" id="" readonly>
        <input type="tel" name="" id="" readonly>
        <input type="url" name="" id="" readonly>
        <input type="search" name="" id="" readonly>
        <input type="month" name="" id="" readonly>
        <input type="week" name="" id="" readonly>
        <input type="datetime-local" name="" id="" readonly>
        <input type="hidden" name="" id="" readonly>
        <select name="" id="" readonly></select>
        <textarea name="" id="" readonly></textarea>
    </div>
</body>

</html>